<yaga-map style="position: fixed; top: 0; bottom: 0; right: 0; left: 0" [lat]="51" [lng]="7" [zoom]="10">
  <yaga-layers-control>
    <yaga-tile-layer yaga-base-layer caption="OpenStreetMap" url="http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png" attribution="©OpenStreetmap"></yaga-tile-layer>
    <yaga-tile-layer yaga-base-layer caption="OpenTopoMap" url="http://{s}.tile.opentopomap.org/{z}/{x}/{y}.png" attribution="©OpenStreetmap"></yaga-tile-layer>

    <yaga-marker yaga-overlay-layer caption="Location Picker" [(lat)]="data.locationPicker.lat" [(lng)]="data.locationPicker.lng" [draggable]="data.locationPicker.draggable">
      <yaga-popup>
        Latitude: <input type="number" [(ngModel)]="data.locationPicker.lat" /><br/>
        Longitude: <input type="number" [(ngModel)]="data.locationPicker.lng" /><br/>
        Draggable: <input type="checkbox" [(ngModel)]="data.locationPicker.draggable" />
      </yaga-popup>
    </yaga-marker>
  </yaga-layers-control>

  <yaga-zoom-control></yaga-zoom-control>
  <yaga-scale-control [imperial]="false"></yaga-scale-control>
  <yaga-attribution-control></yaga-attribution-control>
</yaga-map>
